<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastrar Professor</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p *ngIf="mensagem">{{mensagem}}</p>

  <ion-button shape="block" color="primary" (click)="tirarFoto()">Tirar Foto</ion-button>
  <p>
    <img src="{{foto}}" alt="" />
  </p>
  <form (ngSubmit)="submit()">
    <ion-input type="hidden" name="name" class="form-control" [(ngModel)]="id"></ion-input>
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input type="text" name="name" class="form-control" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Data de Nascimento</ion-label>
      <ion-datetime display-format="MM/DD/YYYY" name="dataNascimento" class="form-control" [(ngModel)]="dataNascimento"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Currículo</ion-label>
      <ion-textarea class="form-control" name="curriculum" [(ngModel)]="curriculum"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Status</ion-label>
      <ion-toggle [(ngModel)]="status" name="status" (ionChange)="statusOnChange(status)"></ion-toggle>
    </ion-item>

    <app-send-button textoDoBotao="Criar Professor"></app-send-button>
  </form>
</ion-content>