<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Trabalho</ion-card-subtitle>
      <ion-card-title>Bem Vindo!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Trabalho da Disciplina de Ionic da Pós Graduação de Desenvolvimento de Aplicativos Moveis da UNIDAVI.
    </ion-card-content>
  </ion-card>

</ion-content>
